<div class="modal-body">
    <form class="" (ngSubmit)="editForm.valid && submit()" novalidate [formGroup]="editForm">
      <div class="form-group">
        <label>id</label>
        <div class="input-group">
          <input type="text" disabled class="form-control" formControlName="id" name="id">
        </div>
      </div>
      <div class="form-group">
        <label>Nom du poste</label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="nomPoste" name="nomPoste">
        </div>
      </div>
    
      <button type="submit" class="btn btn-success m-t-15 waves-effect">Modifier</button>
    </form>
</div>